@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
  background-color: rgb(255, 208, 215);
  z-index: 10;
  margin: 0px auto 0px auto;
  position: relative;
  max-width: 50%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}

header {
  position: fixed;
  text-align: center;
  background-color: seashell;
  width: 960px;
  left: 25%;
}

.highlight {
  color: salmon;
  font-family: Lobster, open-sans;
}

nav ul{
  padding: 20px;
  position: fixed;
  text-align: center;
  background-color: mistyrose;
  width: 920px;
  /* width: 47.9%; */
  top: 63px;
  left: 25%;
  border-radius: 0px 0px 20px 20px;
}

nav li {
  width: 150px;
  display:
    inline-block; 
    margin-left: 100px;
    margin-right: 100px;
}

main {
  padding-top: 140px;
}

main>h2 {
  text-align: center;
}

#logo {
  position: fixed;
  z-index: 0;
  left: 30%;
  top: 35%;
  opacity: 40%;
}

#cookie {
  z-index: 10;
  float: left;
  margin-right: 15px;
  /* margin-bottom: 5px; */
  border: 4px solid white;
  border-radius: 3px;
}

article {
  max-width: 100%;
}

#locations {
  margin-bottom: 20px;
}

#locations>article {
  max-width: 50%;
  display: inline-block;
  text-align: center;
}

#break1 {
  display: inline-block;
  text-align: center;
  object-position: center;
  background-color: skyblue;
  border-radius: 10px;
}

#break1 img {
  margin: 10px;
}

#tshirt {
  z-index: 10;
  display: block;
  margin: 0px 15px 5px 0px;
  border: 4px solid white;
  border-radius: 3px;
}

#cutter {
  z-index: 10;
  display: block;
  margin: 5px 15px 0px 0px;
  margin-right: 15px;
  border: 4px solid white;
  border-radius: 3px;
}

#locations h2, h4 {
  display: inline-block;
  text-align: center;
}

#locations_list {
  list-style-type: none;
  max-width: 90%;
  display:
    inline-block; 
    margin-left: auto;
    margin-right: auto;
}

.location_box p {
  width: 400px;
  line-height: 20%;
}

#break2 {
  text-align: center;
  background-color: skyblue;
  padding: 10px 0px 10px 0px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#family {
  border: 4px solid white;
  border-radius: 3px;
  object-position: center;
}

#chinook {
  z-index: 10;
  float: left;
  margin-right: 15px;
  border: 4px solid white;
  border-radius: 3px;
}

#fish {
  float: right;
  margin-left: 15px;
  border: 4px solid white;
  border-radius: 3px;
}

table {
  background-color: blue;
  font-family: Arial, Helvetica, sans-serif;
  color: greenyellow;
}

td {
  background-color: gray;
  text-align: center;
}

td:hover {
  background-color: rgb(185, 182, 182);
  text-align: center;
}

footer {
  text-align: center;
  background-color: seashell;
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px 20px 0px 0px;
  width: 960px;
  left: 25%;
}